colorama==0.3.7
-e git+https://github.com/fallenshell/coverpy.git@d2396796d305d5936a60716a3d95c2e568fb760a#egg=coverpy
green==2.4.1
httpretty==0.8.14
pip-autoremove==0.9.0
pkg-resources==0.0.0
pypandoc==1.1.3
python-termstyle==0.1.10
requests==2.10.0
